@font-face {
    font-family: Recoletabold;
    src: url(../fonts/Recoleta-Bold.ttf);
  }
body {
    background-color: #f9f9f9;
}
.img-tls {
    display: none;
}
figure {
    padding: 0;
}
header{
    background-color: transparent !important;
  }
/* Table Css Start Here */
.productCart .tableDv .button-group a.btn.grey {
    background: #EEEEEE;
    color: #000;
}
.cart-heading {
    text-align: center;
    background-color: #9E1C36;
    padding: 34px;
    margin-bottom: 60px;
  }
  
  .cart-heading h1 {
    color: #FFFFFF;
    font-family: Recoletabold;
    font-size: 34px;
    font-weight: 500;
  }
.productCart table {
    width: 100%;
}
.productCart{
    padding-bottom: 40px;
}
.productCart .tableDv {
    background: #fff;
    margin: 0 10px;
    /* padding: 35px 30px; */
    border-radius: 20px;
}
.table-responsive {
    display: table;
}
.productCart .products .productDetail .product-detail {
    display: flex;
    align-items: center;
}
.productCart .products .productDetail .product-detail .img-box {
    min-width: 140px;
}
.productCart table tr.topbar {
    border-bottom: 1px solid #C5C5C5;
    height: 40px;
    background-color: #FFFFFF;
    border-top: 40px solid #FFFFFF;
}
.productCart .products {
    height: 130px;
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
}
.productCart .tableDv th.productDetail {
    width: 36%;
}
.productCart .tableDv .Proprice {
    width: 20%;
}
.productCart .tableDv .qty {
    width: 15%;
}
.productCart .tableDv .qty input {
    border-radius: 0;
    padding: 0 10px;
    border: transparent;
    color: #343436;
    font-family: poppinregular;
    width: 80px;
    text-align: center;
    height: 35px;
    background-color: #F2F2F2;
    outline: none;
}
.productCart .tableDv .addcart {
    width: 25%;
}
.productCart .tableDv .addcart .ActionBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productCart table tr.topbar .productDetail {
    text-align: center;
}
.productCart .tableDv .addcart .ActionBtn .cartBtn p {
    margin-bottom: 0;
    font-size: 17px;
}
.productCart .tableDv .addcart .ActionBtn .cartBtn p a {
    color: #e7adc4;
}
.productCart .tableDv .addcart .ActionBtn .cartBtn p i {
    font-size: 15px;
}
.productCart .tableDv .addcart .ActionBtn .deleteBtn i {
    color: #e7adc4;
    cursor: pointer;
}
.productCart .button-group {
    margin-top: 30px;
}
.productCart .proceed {
    width: 100%;
    text-align: right;
}
.productCart .button-group a.btn {
    background: #000000;
    border-radius: 40px;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
.productCart .button-group a.btn.grey {
    background: #EEEEEE;
    color: #000;
    padding: 10px 60px;
}
.productCart .discountCode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productCart .discountCode .head {
    width: 250px;
}
.productCart .discountCode .head p {
    margin-bottom: 0;
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 18px;
    white-space: nowrap;
}
.productCart .discountCode .applyCoupon {
    display: flex;
    width: 100%;
}
.productCart .discountCode .applyCoupon input {
    width: 100%;
    background: transparent;
    border-radius: 0;
    color: #A8A8A8;
    outline: none;
}
.productCart .discountCode .applyCoupon button {
    font-size: 12px;
    color: #fff;
    background: #343436;
    border: 0;
    padding: 8px 20px;
    border-radius: 0px 50px 50px 0px;
}
.productCart .discountCode .applyCoupon input::placeholder {
    color: #A8A8A8;
    font-size: 11px;
}
.productCart .productSummary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0003;
    margin: 0 20px;
}
.productCart .productSummary h6 {
    font-size: 12px;
    font-weight: 500;
}
.productCart  .Total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 55px;
}
.productCart .Total p {
    font-size: 18px;
    font-weight: 700;
}
.productCart .proceed a.btn {
    box-shadow: none;
    border-radius: 40px;
    background: #E7ADB3;
    font-size: 17px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.productCart .proceed h6 {
    margin-top: 10px;
    font-size: 12px;
}
.deleteBtn{
    margin-right: 30px;
}
.deleteBtn a {
    font-size: 18px;
    color: #9F1D3C;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 500;
    text-transform: capitalize;
}
p{
    font-size: 20px;
}
.discountCode button {
    color: #000000;
    background-color: #F2F2F2;
    padding: 14px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 600;
    margin-left: 27px;
}
.shop  button {
    color: #FAFAFA;
    background-color: #436EFF;
    padding: 14px 56px;
    border: transparent;
    font-size: 15px;
    font-family: "poppins";
    font-weight: 600;
    margin-left: 27px;
}
@media (max-width: 991px) {
    .productCart table tr.topbar .productDetail {
        text-align: left;
    }
    .productCart .products .productDetail .product-detail {
        display: block;
        text-align: left;
        width: 40%;
    }
    .productCart .productSummary {
        padding: 20px 0;
    }
    .productCart .proceed {
        text-align: center;
        margin: 20px 0px;
    }
    .productCart .button-group {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .productCart .products .productDetail .product-detail {
        text-align: center;
        width: 100%;
    }
    .productCart .tableDv .addcart .ActionBtn {
        display: block;
        text-align: center;
    }
    .productCart .tableDv .addcart {
        text-align: right;
    }
    .productCart .discountCode {
        display: block;
    }
    .productCart .discountCode .applyCoupon input {
        border-bottom: 1px solid #ddd;
    }
    .table-responsive {
        display: block;
    }
}
@media (max-width: 480px) {
    .productCart table tr.topbar th {
        font-size: 8px;
    }
    .productCart .tableDv .Proprice h5 {
        font-size: 13px;
    }
}
/* Table Css End Here */