header{
  background-color: transparent !important;
}
.product-sec {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 99px;
}

.border-content {
  border-bottom: 2px solid #A4A4A4;
  padding-bottom: 110px;
}

.t-shart-wrapper {
  margin-top: 130px;
}

.product-heading h1 {
  color: #FFFFFF;
  font-family: "Recoleta";
  font-size: 40px;
  font-weight: 700;
}

.product-heading {
  text-align: center;
  background-color: #9E1C36;
  padding: 34px;
}

.five-star-wrapper h4 {
  font-size: 40px;
  font-family: "poppins";
  font-weight: 400;
  color: #292929;
  margin-left: -20px;
}

.five-star-wrapper .number-content {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 600;
  color: #9F1D3C;
}

.five-star-wrapper .second-number {
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  color: #878787;
  margin-left: 10px;
}

.five-star {
  margin-top: 10px;
  border-bottom: 2px solid #A4A4A4;
}

.five-star ul {
  display: flex;
}

.five-star ul li {
  list-style: none;
  margin-right: 5px;
}

.para {
  margin-top: 20px;
}

.para p {
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  color: #878787;
  line-height: 26px;
}

.heading-form1 {
  margin-top: 10px;
}

.heading-form {
  margin-top: 60px;
}

.heading-content-form {
  font-size: 15px;
  font-family: "poppins";
  font-weight: 500;
  color: #001A26;
}

.heading-form form {
  display: flex;
  align-items: center;
}

.heading-form1 form {
  display: flex;
  align-items: center;
}

.form-group {
  margin-left: 100px;
}

.form-group select {
  margin-left: 10px;
  border: 1px solid #727272;
  color: #001A26;
  font-size: 15px;
  font-family: "poppins";
  font-weight: 500;
  border-radius: 0;

}

.form-group1 {
  margin-left: 133px;
}

.form-group1 select {
  margin-left: 10px;
  border: 1px solid #727272;
  color: #001A26;
  font-size: 15px;
  font-family: "poppins";
  font-weight: 500;
  border-radius: 0;
}

.select-color {
  height: 23px;
  width: 23px;
}



ul.for-size {
  display: flex;
  margin-left: 82px;
}
.for-size label span.checkmark {
  font-size: 12px;
  /* padding: 7px; */
  width: 37px;
  height: 37px;
  border: 2px solid #707070;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
  color: #707070;
  font-family: "Poppins-Medium";
  margin-left: 12px;
  display: block;
}

.for-size label input {
  opacity: 0;
}

.for-size label input:checked~span.checkmark {
  color: #9F1D3C;
  border-color: #9F1D3C;
}

/* slick slider */
.product-fiqure {
  margin-top: 83px;
}

button.slick-prev.slick-arrow {
  display: none !important;
}

button.slick-next.slick-arrow {
  display: none !important;
}

.slick-slide.slick-current.slick-active.slick-center {
  margin: 0px 10px;
  transform: scale(1.5);
}
.slick-dots li button{
  display: none !important;
}

.slick-slide img {
  display: block;
  width: 100%;
}

/* add and sub */
.number {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.t-shart-wrapper span.plus img {
  position: relative;
  top: -3px;
}

.t-shart-wrapper .number span.minus {
  border: 1px solid #a4a4a4;
  padding: 0px 13px;
  color: #6b6b6b;
  font-size: 25px;
  cursor: pointer;
}

.t-shart-wrapper .number span.plus {
  border: 1px solid #a4a4a4;
  padding: 0px 13px;
  color: #6b6b6b;
  font-size: 25px;
  cursor: pointer;
  margin-left: 128px;
}

.t-shart-wrapper .number input[type="text"] {
  width: 49px;
  height: 40px;
  text-align: center;
  margin: 0px 4px;
  border: 1px solid #a4a4a4;
  font-family: "Poppins";
  font-weight: 500;
  color: #292929;
  font-size: 19px;
}

.t-shart-wrapper span.minus img {
  position: relative;
  top: -3px;
}

.number-heading-content {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.number-heading-content span {
  margin-left: 131px;
  color: #9F1D3C;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 600;
}

.number-heading-content1 {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.number-heading-content1 span {
  margin-left: 92px;
  color: #001A26;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 400;
}

.number-heading-content2 {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.number-heading-content2 span {
  margin-left: 108px;
  color: #436EFF;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 400;
}

.button-cart {
  margin-top: 20px;
}

.button-cart button.btn {
  border: 2px solid #9F1D3C;
  border-radius: 0;
  padding: 12px 37px
}

.button-cart button.btn img {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.button-cart button.btn span {
  font-family: "Montserrat";
  color: #0D0016;
  font-size: 18px;
  font-weight: 400;
}

.funds-sec {
  padding-bottom: 50px;
}

.funds-heading {
  text-align: center;
  padding: 40px 0;
}

.funds-heading h3 {
  color: #9F1D3C;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
}

.funds-sec p {
  font-size: 20px;
  color: #000000;
  font-family: "Poppins";
}

.about-funds p {
  color: #9F1D3C;
  font-family: "Montserrat";
  font-size: 15px;
}

.about {
  margin-top: 20px;
}

.funds-imgbox img {
  max-width: 126%;
  height: 420px;
}


.product-description1 h4 {
  color: #232323;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.product-description1 p {
  color: #707070;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
}

.product-description2 {
  margin: 60px 0px;
}

.product-description2 h4 {
  color: #232323;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.product-description2 p {
  color: #707070;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
}

section.para-head-wrapper {
  padding-bottom: 84px;
}
/* opinio sec start here */
.opinio {
  /* padding: 60px 0px; */
  /* background-image: url("../img/detail-bg.png"); */
  background-size: 100%;
  padding-bottom: 100px;
}

section.opinio h2 {
  color: #001c1a;
  font-family: "Poppins";
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

section.opinio textarea.form-control {
  padding: 17px;
  border: 1px solid #d4d4d4;
  font-family: "Poppins";
  color: #717171;
  font-weight: 500;
}

.opinio .form-control {
  margin: 10px 0px;
}

.opinio input.form-control {
  padding: 14px;
  border: 1px solid #d4d4d4;
  font-family: "Poppins";
  color: #717171;
  font-weight: 500;
}

section.opinio button.form-btn {
  background: #9F1D3C;
  border: 0px;
  padding: 11px 45px;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 6px;
  margin-top: 15px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 9px 2px #e1e1e1;
}


h3.company-name {
  font-size: 20px;
  text-align: initial;
  font-weight: 600;
  padding-left: 24px;
}

.replyed-comments {
  background-color: #E8FBFF;
  padding: 60px 0px;
}

p.des {
  font-size: 13px;
  color: #9E9E9E;
  font-family: 'Poppins';
  font-weight: 300;
}

p.replyed-comment-date {
  float: right;
  font-size: 14px;
  color: #9E9E9E;
  font-family: 'Poppins';
  padding: 0px 30px;
}

.dv-stars ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.dv-for-input {
  position: relative;
}

.dv-stars ul li a i {
  color: #000000;
  padding: 0px 1px;
}

.dv-stars {
  position: absolute;
  top: 23px;
  right: 30px;
}

.details-wrap .checkbox-color input:checked~label:after {
  display: none;
}
.prodetail-wrapper .slick-slide img {
  width: 100%;
  height: 450px;
  object-fit: fill;
}
.prodetail_smallimg .slick-slide figure img {
  width: 100%;
  height: 130px;
  object-fit: fill;
}
.prodetail_smallimg .slick-slide {
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px 1px;
  /* padding: 0 10px; */
  max-width: 130px;
  margin: 0 5px;
}
.prodetail_smallimg .slick-list.draggable {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.prodetail_smallimg .slick-slide figure{
  margin-bottom:0;
}
.content-wrapper .form-group{
  margin-left: 0 !important;
}
@media(max-width:1199px){
  .prodetail-wrapper .slick-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .pro-detail-content-wrapper .details-wrap {
    width: 100%;
  }
}
@media(max-width:480px){
  .inner-stuff-all{
    top: 111px;
  }
}
@media(max-width:425px) {
  .inner-stuff-all {
    top: 115px;
  }
}
/* opinio sec end here */
/* reviews start here */
.counterW {margin:0 0 0 60px;}
.ratingW {position:relative; margin:-11px 0 0;}
.ratingW li {display:inline-block; margin:0px;}
.ratingW li a {display:block; position:relative; /*margin:0 3px;  width:28px; height:27px;color:#ccc; background:url('../img/ico/icoStarOff.png') no-repeat; background-size:100%;*/}
/*.ratingW li.on a {background:url('../img/ico/icoStarOn.png') no-repeat; background-size:100%;}*/

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em  solid #ddd;
    border-left: .3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 24px;
}
.star:before, .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em  solid #ddd;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}


.ratingW li.on .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: .3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 15px;
    margin-top: 8px;
}
.ratingW li.on .star:before, .ratingW li.on .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.ratingW li.on .star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
@media(max-width:1280px){
    .ratingW li.on .star{
        font-size: 10px;
    margin-top: 14px;
    }
}