@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

@font-face {
    font-family: Recoletabold;
    src: url(../fonts/Recoleta-Bold.ttf);
}

header {
    background-color: transparent !important;
}

/* donation-sec start here */

.donation-heading {
    text-align: center;
    background-color: #9E1C36;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.donation-heading h1 {
    color: #FFFFFF;
    font-family: Poppinsbold;
    font-size: 34px;
    font-weight: 500;
}

.donation-heading p {
    color: #FFFFFF;
    font-family: Poppinsbold;
    font-size: 15px;
    font-weight: 500;
}


/* Demo purposes only */
.testimonials-clean {
    height: 100%;
}

.testimonials-clean {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-top: 20px;
    height: 100%;
}

.testimonials-clean2 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-top: 20px;
    padding-bottom: 80px;
    height: 100%;
}

.testimonials-clean i.fa.fa-star {
    background: -webkit-linear-gradient(#F6E70A,#BC9F0A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.testimonials-clean2 i.fa.fa-star {
    background: -webkit-linear-gradient(#F6E70A,#BC9F0A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.figure {
    display: inline-block;
    width: 100%;
}

.figure .snip {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 90%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

.figure .snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.figure .snip img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: -1px 0 0 10px;
}

.figure .snip .arrow p {
    color: #777777;
    padding: 3px 24px;
    font-size: 14px;
    font-family: Poppinsmedium;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
}

.figure .snip .arrow {
    /* top: 100%; */
    height: 130px;
    padding: 9px 18px;
    width: 100%;
    background-image: url(../img/border-box.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.figure .snip .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.figure .snip .author h5 {
    /* opacity: 0.8; */
    margin: 0;
    color: #000000;
    font-family: poppinregular;
    font-size: 16px;
    /* font-weight: 800; */
}

.figure .snip .author h4 {
    /* opacity: 0.8; */
    margin: 0;
    color: #777777;
    font-family: Poppinsmedium;
    font-size: 16px;
    /* font-weight: 800; */
}

.figure .snip .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}
@media (max-width: 768px) {
    .figure .snip {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        width: 100%;
        color: #333;
        text-align: left;
        box-shadow: none !important;
    }
    .figure .snip .author {
        position: absolute;
        bottom: 45px;
        padding: 0 10px 0 120px;
        margin: 0;
        text-transform: uppercase;
        color: #ffffff;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    .figure .snip .arrow p {
        color: #777777;
        padding: 3px 24px;
        font-size: 12px;
        font-family: Poppinsmedium;
        font-weight: 500;
        margin: 0;
        line-height: 1.6em;
    }
}