header{
    background-color: transparent !important;
  }
.product-heading {
    text-align: center;
    background-color: #9E1C36;
    padding: 34px;
}

.product-heading h1 {
    color: #FFFFFF;
    font-family: Recoletabold;
    font-size: 34px;
    font-weight: 500;
}

.dropstart .img-fluid{
    width: auto;
}
/* Profile CSs Start Here */
.img-fluid{
    width: 100%;
}

.other-details {
    padding: 35px  15px  45px;
    background-color: #F9F9F9;
    position: relative;
}

.custom-class-for-top {
    top: 24px !important;
}

.for-mail-and-name {
    position: relative;
}

.for-mail-and-name span,
.for-mail-and-name a {
    font-family: "Poppins-Regular";
    font-size: 14.5px;
}

.for-mail-and-name span {
    color: #000000;
}

.for-mail-and-name a {
    color: #9E1C36;
}

.for-mail-and-name button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 13.8px;
    color: #7C7C7C;
    border: none;
    padding: 0px 3px;
    border-radius: 5px;
    border: 2px solid #707070;
}

.for-mail-and-name button i {
    font-size: 12px;
    color: #7C7C7C;
}

.for-user-address span{
    color: #5E5E5E;
    display: block;
    font-size: 14.2px;
    font-family: Poppinssemibold;
}
section.profile-section-strat {
    padding-bottom: 77px;
}